#ignore everyhting
/*

#except...
!/WSL_Arch/
/WSL_Arch/*
!/WSL_Arch/wsl-con.cmd
!/.config/
/.config/*
!/.config/powerline/
!/.config/colorls/
!.gitignore
!.bashrc
!.zshrc
!.tmux.conf
!.vimrc
!.irbrc
!.etc.wsl.conf
!/.rvm/
/.rvm/*
!/.rvm/gemsets/
/.rvm/gemsets/*
!/.rvm/gemsets/global.gems
